In [1]:
from sqlalchemy import create_engine

# Cadena de conexión
DATABASE_URL = "mysql+pymysql://user:user_pwd@localhost:3306/API_DB"

# Crear un engine para la base de datos
engine = create_engine(DATABASE_URL)

# Verifica la conexión
try:
    with engine.connect() as connection:
        print("Conexión exitosa a la base de datos")
except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexión exitosa a la base de datos

In [3]:
import pandas as pd

new_data = pd.read_csv('./data_files/data.csv')
# old_data = pd.read_sql_query("", engine)

In [11]:
new_data["FECHA_NAC"] = pd.to_datetime(new_data['FECHA_NAC']).dt.date
new_data

       ID  NOMBRE   FECHA_NAC              EMAIL  MONTO
0  213524  MIKE T  2024-10-21  correo@correo.com  10.78

In [8]:
from sqlalchemy import Column, Integer, String, Date, Numeric
from sqlalchemy.ext.declarative import declarative_base

# Crear la base para definir la tabla
Base = declarative_base()

# Definir la tabla con la estructura solicitada
class Usuario(Base):
    __tablename__ = 'USUARIOS'
    
    # Campos solicitados en el requisito
    ID = Column(Integer, primary_key=True)  # ID único entero positivo
    NOMBRE = Column(String(100), nullable=False)  # Nombre en texto
    FECHA_NAC = Column(Date, nullable=False)  # Fecha de nacimiento
    EMAIL = Column(String(100), nullable=False)  # Email en texto, debe ser único
    MONTO = Column(Numeric(10, 2), nullable=False)  # Monto en decimal

# Crear las tablas en la base de datos
Base.metadata.create_all(engine)

C:\Users\Mike\AppData\Local\Temp\ipykernel_22584\878088709.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [12]:
# Insertar el DataFrame en la tabla "personas" de la base de datos
new_data.to_sql('USUARIOS', con=engine, if_exists='append', index=False)

1