In [1]:
from sqlalchemy import create_engine

# Cadena de conexión
DATABASE_URL = "mysql+pymysql://user:user_pwd@localhost:3306/API_DB"

# Crear un engine para la base de datos
engine = create_engine(DATABASE_URL)

# Verifica la conexión
try:
    with engine.connect() as connection:
        print("Conexión exitosa a la base de datos")
except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexión exitosa a la base de datos

In [45]:
import pandas as pd

new_data = pd.read_csv('./data_files/data2.csv')
# old_data = pd.read_sql_query("", engine)
new_data

C:\Users\Mike\AppData\Local\Temp\ipykernel_22584\2219628444.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(new_data['FECHA_NAC']).dt.date

       ID  NOMBRE   FECHA_NAC               EMAIL    MONTO
0  256542  asdssd  29/01/2024  correo3@correo.com  1512.00
1  213525  Kirito  24/10/2024  correo2@correo.com  2089.23

In [ ]:
# crear aquí un try al convertir la fecha
new_data['FECHA_NAC'] = pd.to_datetime(new_data['FECHA_NAC']).dt.date

In [36]:
from sqlalchemy import Column, Integer, String, Date, Numeric
from sqlalchemy.ext.declarative import declarative_base

# Crear la base para definir la tabla
Base = declarative_base()

# Definir la tabla con la estructura solicitada
class Usuario(Base):
    __tablename__ = 'USUARIOS'
    
    # Campos solicitados en el requisito
    ID = Column(Integer, primary_key=True)  # ID único entero positivo
    NOMBRE = Column(String(100), nullable=False)  # Nombre en texto
    FECHA_NAC = Column(Date, nullable=False)  # Fecha de nacimiento
    EMAIL = Column(String(100), nullable=False)  # Email en texto, debe ser único
    MONTO = Column(Numeric(10, 2), nullable=False)  # Monto en decimal

# Crear las tablas en la base de datos
Base.metadata.create_all(engine)

C:\Users\Mike\AppData\Local\Temp\ipykernel_22584\878088709.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [44]:
# Insertar el DataFrame en la tabla "personas" de la base de datos
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import IntegrityError

# Crear una sesión
Session = sessionmaker(bind=engine)
session = Session()

for index, row in new_data.iterrows():
    try:
        # Crear un nuevo registro en la tabla con los datos del CSV
        nueva_persona = Usuario(
            ID = row['ID'],
            NOMBRE = row['NOMBRE'],
            FECHA_NAC = row['FECHA_NAC'],
            EMAIL = row['EMAIL'],
            MONTO = row['MONTO']
        )
        
        session.add(nueva_persona)
        session.commit()  # Confirmar la transacción

    except IntegrityError as e:
        session.rollback()  # Revertir la transacción si hubo un error
        print(f"Error en la fila {index + 1}: No se pudo insertar el registro. ID duplicado.")
        print(f"Detalle del error: {e.orig}")
    
    except Exception as e:
        session.rollback()  # Revertir la transacción si hubo un error inesperado
        print(f"Error inesperado en la fila {index + 1}: {e}")

Error inesperado en la fila 1: 'Timestamp' object has no attribute 'dt'
Error inesperado en la fila 2: 'Timestamp' object has no attribute 'dt'

In [ ]:
####### Falta validacipon para string sin caracteres especiales