In [1]:
from sqlalchemy import create_engine

# Cadena de conexi贸n
DATABASE_URL = "mysql+pymysql://user:user_pwd@localhost:3306/API_DB"

# Crear un engine para la base de datos
engine = create_engine(DATABASE_URL)

# Verifica la conexi贸n
try:
    with engine.connect() as connection:
        print("Conexi贸n exitosa a la base de datos")
except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexi贸n exitosa a la base de datos

In [1]:
import pandas as pd

new_data = pd.read_csv('./data_files/data.csv')
old_data = pd.read_sql_query("", engine)

In [2]:
new_data

       ID  NOMBRE   FECHA_NAC              EMAIL  MONTO
0  213524  MIKE T  21/10/2024  correo@correo.com  10.78